#Menu {
    position: absolute;
    background-color: #ffffff;
    z-index: 100;
    width: 300px;
    height: 600px;
    right:0px;
    border: 4px solid white;
}

#Menu #Heading {
    position: absolute;
    width: 75%;
    height: 10%;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(to right, rgb(0, 255, 26), rgba(255, 0, 0, 0));
}

#Menu #Exit {
    position:absolute;
    width: 25%;
    height: 10%;
    right: 0px;
    top: 0px;
    background-color: red;
}

#Menu #Exit button {
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: red;
}

#Menu #Options {
    
    position: absolute;
    height: 40%;
    width: 100%;
    left: 0px;
    top: 10%;
    background-color: white;
}

#Menu #OutputPreview {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    background-color: rgb(173, 255, 203);
}

#Menu button {
    width: 100%;
    height: 20%;
    background-color: #00ff5e;
    color: #FFFFFF;
    border: none;
}

#Menu button:hover {
    background-color:#01ba20;
    transition: 0.1s;
}

#Menu textarea {
    width: 100%;
    height: 100%;
    border-color: white;
    bottom: 0px;
    position: absolute;
}
